.section p {
    text-align: justify;
}

.section p + ul,
.section p + pre,
.section h4 + ul {
    margin-top: -10px !important;
}

pre[class*="language-"] {
    padding: 0;
    margin: 1em 0;
    overflow: initial;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: initial;
}

.rst-content table.docutils td,
.rst-content table.docutils th {
    padding: 8px 12px;
}

.td-nowrap {
    min-width: 30ch;
}

.rst-versions:not(.rst-badge) .rst-current-version {
    padding: 0 12px !important;
    display: flex !important;
    font-size: initial !important;
}